:root {
  --debug: 1px solid red;
  /* primary colors */
  --Cyan: hsl(180, 66%, 49%);
  --CyanLight: rgb(127, 230, 230);
  --DarkViolet: hsl(257, 27%, 26%);
  /* secondary colors */
  --Red: hsl(0, 87%, 67%);
  /* neutral colors */
  --lightGray: hsl(225, 33%, 95%);
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);

  /* font families  */
  --globalFont: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--globalFont);
  color: var(--VeryDarkBlue);
}

body,
* {
  transition: 0.3s;
}
a {
  text-decoration: none;
}
input {
  border: none;
}
button {
  border-style: none;
  border: none;
  cursor: pointer;
}

/* Desktop View */
.page-wrap {
  color: ;
}
/* header */
.header-container {
  display: flex;
  justify-content: center;

  margin: auto;
  width: 85vw;
  padding-top: 20px;
  margin-bottom: 20px;
}
.logo-container {
  flex: 1;
}
nav {
  flex: 2;
  display: flex;
}
nav a {
  color: var(--GrayishViolet);
  font-weight: 700;
  display: block;
}
nav a:hover {
  color: var(--VeryDarkBlue);
}
nav .nav-item {
  margin-right: 10px;
}

.user-auth {
  flex: 1;
  display: flex;
  text-align: center;
  color: var(--GrayishViolet);
}
.user-auth .login {
  margin-right: 10px;
}
.user-auth .sign-up {
}
.user-auth .sign-up,
.user-auth .login {
  margin-right: 10px;
  width: 70px;
  height: 20px;
  font-weight: 700;
  padding: 5px 3px 5px 3px;
  cursor: pointer;
}

.user-auth .login:hover,
.user-auth .sign-up:hover {
  background-color: var(--Cyan);

  border-radius: 15px;
  color: #fff;
}

/*main */
main {
}

/*intro section */
main .intro {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  padding-bottom: 65px;
}
.intro .intro-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 40px;

  font-family: var(--globalFont);
}
.intro-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 5px;
}
.intro-content p {
  color: var(--GrayishViolet);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.intro-content button {
  width: 30%;
  background-color: var(--Cyan);
  padding: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
}
.intro-content button:hover {
  background-color: var(--CyanLight);
}
.intro-image {
  overflow: hidden;
}

/* shorten */
.grey-bg {
  background-color: var(--lightGray);
}
.shorten {
  width: 85vw;
  margin: auto;
}
.shorten .contain {
  background: url("../images/bg-shorten-desktop.svg") var(--VeryDarkViolet);
  object-fit: contain;
  padding: 30px 30px 0 30px;
  border-radius: 10px;
  position: relative;
  top: -50px;
}

.shorten .shorten-input-wrap .wrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.shorten .shorten-input-wrap .wrap .input-field {
  margin-right: 15px;
  flex: 2;
}
.shorten .shorten-input-wrap .wrap .input-field input {
  width: 100%;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
}
.shorten .shorten-input-wrap .wrap button {
  width: 15%;
  margin-left: 17px;
  margin-right: 10px;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--Cyan);
  border-radius: 8px;
}
.shorten .shorten-input-wrap .text {
  color: var(--Red);
  font-size: 16px;
}

.shorten .output {
  background-color: #fff;
  display: flex;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: none;
}

.shorten .output .text {
  flex: 1;
  margin-right: 10px;
}
.shorten .output .link {
  flex: 1;
  text-align: right;
  margin-right: 10px;

  color: var(--Cyan);
  font-weight: 500;
}
.shorten .output button {
  padding: 4px;
  background-color: var(--Cyan);
  color: #fff;
  font-size: 16px;
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
}
.shorten .output button:hover {
  background-color: var(--CyanLight);
}

/* stat */
.stat {
  width: 85vw;
  margin: auto;

  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
.stat .stat-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat .stat-desc h2 {
  color: var(--DarkViolet);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}
.stat .stat-desc p {
  color: var(--GrayishViolet);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.stat .space {
  background-color: var(--Cyan);
  height: 8px;
  width: 70px;
  margin: auto;
}
.stat .cards-wrap {
  display: flex;
  margin-top: 10px;
}
.stat .cards-wrap .card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.stat .cards-wrap .card h3 {
  margin-top: 0;
  color: var(--VeryDarkBlue);
}
.stat .cards-wrap .card p {
  color: var(--GrayishViolet);
  font-weight: 500;
}
.stat .cards-wrap .card2 {
  position: relative;
  bottom: -40px;
}
.stat .cards-wrap .card3 {
  position: relative;
  bottom: -80px;
}
.stat .cards-wrap .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--DarkViolet);
  position: relative;
  top: -50px;
}

.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-boost-desktop.svg") var(--DarkViolet);
  color: #fff;
  height: 37vh;
}
.action-button .text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.action-button button {
  background-color: var(--Cyan);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  cursor: pointer;
}
.action-button button:hover {
  background-color: var(--CyanLight);
}

/* footer */

footer {
  background-color: var(--VeryDarkViolet);
  color: #fff;
  display: flex;
  justify-content: space-around;
}
footer .logo {
  display: flex;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}
footer .logo a {
  display: block;
  color: #fff;
}
footer .features {
  flex-wrap: 1;
  display: flex;
  flex-direction: column;
}
footer .features nav {
  display: flex;
  flex-direction: column;
}
footer .features nav a {
  display: block;
  color: var(--Gray);
}
footer .features nav a:hover,
footer .social-media a:hover {
  color: var(--Cyan);
}
footer .features h5 {
  font-size: 20px;

  font-weight: 500;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .social-media a {
  display: block;
}
footer .social-media .item {
  margin-right: 15px;
  margin-top: 41px;
}

/* .attribution */

.attribution {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--GrayishViolet);
  font-weight: 500;
  padding-top: 30px;
  background-color: var(--VeryDarkViolet);
}
.attribution a {
  color: var(--GrayishViolet);
  cursor: pointer;
}
.attribution a:hover {
  color: var(--Cyan);
}

/* Mobile view */
@media only screen and (max-width: 750px) {
  .header-container,
  main .intro,
  .shorten .shorten-input-wrap .wrap,
  .stat .cards-wrap {
    flex-direction: column;
  }
  .shorten .shorten-input-wrap .wrap {
    justify-content: center;
    align-items: center;
  }
  .shorten .shorten-input-wrap .wrap button {
    width: 35%;
    margin-top: 10px;
  }
}
